extends layout

mixin pagination()
  - var surround = 2
  - var ends = 2
  - var total = Math.ceil(posts.length / pagelength)
  - if (!onepost)
    .pagination
      a.bloglink(href="/adventures/") Adventures and Travels 
      ul
        - if (page > ends + surround)
          - for (var i = 0; i < ends; i++)
            li 
              a(href="/blog/?page=" + (i+1))= i+1
            | &nbsp;
          li.empty ...
          | &nbsp;
        - for (var i = page <= ends + surround ? 0 : Math.max(0, page - surround); i < (page >= total - ends - surround - 1 ? total : Math.min(total, page + 1 + surround)); i++)
          - if (i != page)
            li 
              a(href="/blog/?page=" + (i+1))= i+1
            | &nbsp;
          - else
            li.active
              = i+1
            | &nbsp;
        - if (page < total - ends - surround - 1)
          li.empty ...
          | &nbsp;
          - for (var i = total - ends; i < total; i++)
            li 
              a(href="/blog/?page=" + (i+1))= i+1
            | &nbsp;

  - else
    .pagination
      a.bloglink.active(href="/blog/") &larr; Back to the blog

block content
  mixin series (title, link, date)
    p
      a(href=link) #{title}
      | : #{date}
  
  .row
    .columns.large-12
      h1 Adventures and Travels
      a(href='http://meaninglite.tumblr.com/')
        | Read on my blog: meaninglite.tumblr.com |
      a(href="https://www.instagram.com/kooshtakah/")  Follow along 
        img(src='/images/somicro/instagram.png' style="height:1.3em")
      p <br/>
  .row
    .columns.large-3.right.sidebar
      p
        i Jump to first post in series:
      +series("Iceland", "http://meaninglite.tumblr.com/post/147944883054/iceland-getting-to-laugavegur-july-20", "July 2016")
      +series("Norway", "http://meaninglite.tumblr.com/post/145545203859/after-the-conference-norway", "June 2016")
      +series("Nomadism", "http://meaninglite.tumblr.com/post/143518451719/its-strange-being-back-this-trip-has-been", "Spring/Summer 2016")
      +series("Greece/Refugees", "http://meaninglite.tumblr.com/post/141297929454/&chi;%CE%AF&omicron;&upsilon;", "Spring 2016")
      +series("Lebanon", "http://meaninglite.tumblr.com/post/140935387580/beirut-lebanon-first-impressions-outside-my", "March 2016")
      +series("Bahamas", "http://meaninglite.tumblr.com/post/106828135699/the-bahamas-are-not-what-i-expected-i-thought-in", "New Year 2015")
      +series("Costa Rica", "http://meaninglite.tumblr.com/post/14419259909/costa-rica-121811-i-wish-i-could-share-the", "December 2011")
      +series("Chile", "http://meaninglite.tumblr.com/post/10735209101/hello-world", "Fall 2011")
      +series("Burning Man & Solo Camping", "http://meaninglite.tumblr.com/post/10003818539/83011-931am-burning-man", "September 2011")
      +series("Alaska", "http://meaninglite.tumblr.com/post/6116652364/hiking-in-the-muskeg-sunnyside-alaska-our", "June 2011")
      +series("Hawaii", "http://meaninglite.tumblr.com/post/6096212962/hawaii-day-1", "December 2010")
      +series("California", "http://meaninglite.tumblr.com/post/6096210164/hello-california", "June 2010")
      +series("Nicaragua", "http://meaninglite.tumblr.com/post/6096209431/nicaragua", "May 2010")
      +series("Europe/Orienteering", "http://meaninglite.tumblr.com/post/6096202919/europe", "Summer 2007")
      +series("Chiapas, Mexico", "http://meaninglite.tumblr.com/post/6096197393/mexico-1", "Summer 2006")
        
    .columns.large-9.left
      p #{onepost}
      +pagination()
        ul#blog-posts
          each post in onepost ? [onepost] : posts.slice(page*pagelength, (page+1)*pagelength)
            li
              h2
                a(href='/adventures/' + post.id + '/' + post.slug)= post.title
              p.date= new Date(post.timestamp*1000).toLocaleString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
              div.post-body!= (post.body || '').replace(/(https?:)?(\/\/)?blog\.technical\.io[^'"]+/g, '/blog/')
              p.tags= '#' + post.tags.join(' #')
        +pagination()
        
      //- <script type='text/javascript' src='http://meaninglite.tumblr.com/js'></script>
      //- a(href='http://meaninglite.tumblr.com/')
      //-   i Keep reading on my blog: meaninglite.tumblr.com
    
