extends layout

block content
	h1 Kelsey Breseman

	p Forest · Circus · Making · Tessel · Olin · Spanish · Orienteering · Adventure

	h3 Sometimes I write.
	p I've done <a href="http://ifoundthemeaningoflife.tumblr.com/">interviews</a>, am obsessed with <a href="http://aspiringlexicographer.tumblr.com/">words</a>, wrote <a href="http://digitalcommons.olin.edu/cgi/viewcontent.cgi?article=1025&context=ahs_capstone_2012">a series of short stories</a> once, and occasionally <a href="http://ifoundthemeaningoflife.blogspot.com/">ramble about poetry or philosophy</a>.
	
	h3 Sometimes I make.
	p A lot of things I've made are on <a href="http://instructables.com/member/SelkeyMoonbeam">Instructables</a>. There might be some more <a href="http://www.pinterest.com/frijoldelaluna/things-i-made/">here</a>.
	
	h3 Right now I'm proud to be a part of <a href="http://technical.io">Technical Machine</a>, particularly in trying to attract <a href="http://www.pinterest.com/frijoldelaluna/technical-machine-press-shamelessly-collected/">press</a>.
	p Relatedly, I'm learning to <a href="http://github.com/Frijol">code</a>. </a>Before, I was at <a href="http://olin.edu">Olin College</a>, which I think is really wonderful.
	
	h3 You can talk to me if you want.
	p I'm on <a href="http://twitter.com/selkeymoonbeam">Twitter</a>, <a href="http://www.linkedin.com/pub/kelsey-breseman/30/35/845">LinkedIn</a>, and probably <a href="https://plus.google.com/103328748724367873944/posts">some other places around the web</a>.

	#social
		- // most of the icons are from somicro by Veo design: http://veodesign.com/2011/en/09/07/somicro-27-free-simple-social-media-icons/
		- var social = '/images/somicro/'
		a(href="http://www.pinterest.com/frijoldelaluna/")
			img.social(src=social + 'pinterest.png')
		a(href="")
			img.social(src=social + 'gplus.png')
		a(href="https://github.com/Frijol")
			img.social(src=social + 'github.png')
		a(href="http://meaninglite.tumblr.com/")
			img.social(src=social + 'tumblr.png')
		a(href="www.linkedin.com/pub/kelsey-breseman/30/35/845/")
			img.social(src=social + 'linkedin.png')
		a(href="http://twitter.com/selkeymoonbeam")
			img.social(src=social + 'twitter.png')
