extends layout

block content
	.main-container
		h1 I'm Kelsey Breseman.

		p I'm a part of the <a href="https://tessel.io">Tessel Project</a>. I'm also a neural engineer, a wilderness child, and an adventurer. In my day job, I work on <a href="//3dr.com">flying robots</a>.
		
		p You can see my work all around the internet. If you're trying to reach me, click that Twitter icon:
		
		#social
			- // most of the icons are from somicro by Veo design: http://veodesign.com/2011/en/09/07/somicro-27-free-simple-social-media-icons/
			- var social = '/images/somicro/'
			a(href="http://www.instructables.com/member/SelkeyMoonbeam/")
				img.social(src=social + 'instructables.png')
			a(href="https://projects.tessel.io/users/ifoundthemeaningoflife")
				img.social(src=social + 'tessel.png')
			a(href="http://www.pinterest.com/frijoldelaluna/")
				img.social(src=social + 'pinterest.png')
			a(href="https://www.goodreads.com/user/show/18653539-kelsey-breseman")
				img.social(src=social + 'goodreads.png')
			a(href="https://github.com/Frijol")
				img.social(src=social + 'github.png')
			a(href="https://plus.google.com/103328748724367873944/posts")
				img.social(src=social + 'gplus.png')
			a(href="http://meaninglite.tumblr.com/")
				img.social(src=social + 'tumblr.png')
			a(href="http://www.linkedin.com/pub/kelsey-breseman/30/35/845/")
				img.social(src=social + 'linkedin.png')
			a(href="http://twitter.com/selkeymoonbeam")
				img.social(src=social + 'twitter.png')
