extends layout

block content
  mixin current(title, link)
    .columns.small-3
      h2(style="padding-right: 1em;")
        a(href=link) #{title}

  mixin project(pic, title, description, link)
    .row(style="margin-top: 20px")
      .columns.large-5
        a(href=link)
          img(src=pic)
      .columns.large-7
        h4 
          a(href=link) #{title}
        p #{description}
        p
          a(href=link) See more &rarr;

  .row
    .columns.large-12
      h1 Projects

      h3 Currently working on:  
  .row(style="margin-bottom: 2em;")
    +current("Environmental Data & Governance Initiative","//envirodatagov.org")
    +current("Data Together","//datatogether.org")
    +current("Climate Change Book", "/climate-change-book")
    +current("Tessel Project Governance", "//github.com/tessel/project")

  .row
    .columns.large-12      
      h3 Selected past projects:
      +project('/images/moderncartography.png', 'Tutorials for Modern Cartography', 'These tutorials introduce the basics of map creation using free software, internet-available resources, and fieldwork using smartphones for georeferencing. Target software is Open Orienteering Mapper; other key tools include Runkeeper, Open Street Map, and GPS Essentials.', 'https://frijol.gitbooks.io/orienteering-software-tutorials/content/')

      +project('/images/navigationinstruction.png', 'Navigation Instruction', 'My family competes internationally in a sport called orienteering. The sport was originally invented to teach land navigation to the Norwegian military– we use topographic maps to find our way, off-trail, at top speed. My father and I have a video series teaching techniques, meanwhile exploring the changing face of minimum-cost production (80/20 principle youtube filming).', 'https://www.youtube.com/channel/UCHL_yvJmGNWvDxVBl4MIocQ')

      +project('/images/nodeforembedded.jpg', 'Node.JS for Embedded Systems', 'This practical book shows you how to build web applications that connect devices to the Internet of Things, using JavaScript and the Node.js platform. Programming Arduino boards in C or C++ is great for quickly prototyping and exploring embedded systems, but if you want to control or monitor hardware from web browsers, you need to start speaking JavaScript.', 'https://www.amazon.com/gp/product/B01M23XEHZ/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01M23XEHZ&linkCode=as2&tag=ifoundthemean-20&linkId=cb1565a74c88ee9b7cf0bc41d89b4db2')

      +project('/images/firstrun.png', "Tessel's First Run", "I designed and built the first run experience for Tessel. My objective: create the fastest and most enjoyable experience possible for going from zero hardware experience (and possibly no programming) to successful interaction between physical and digital parts. I designed and implemented this website, tested with users, and iterated on the design. For the average user, it takes under five minutes from unboxing to blinking lights.", 'https://github.com/technicalmachine/start.tessel.io')
      +project('/images/commsguide.png', "Beginner's Guide to Communication Protocols", "When Technical Machine introduced a DIY module, we felt we needed to bridge the gap between the electrical engineering required to use it and the web developer knowledge of most of our customers. I worked with a contractor to write this beginner's guide to communication protocols, which introduces an electrical engineering novice to GPIO, SPI, I2C, and UART.", 'https://tessel.io/docs/communicationProtocols')
      +project('/images/tesselbot.jpg', 'Tesselbot: RC Sumobot', "I made this websocket-controlled remote control car. It's all open source parts, based on laser cut files, and fun to play with!", 'http://www.hackster.io/ifoundthemeaningoflife/rc-sumobot')
      +project('/images/bleswitch.jpg', 'BLE Proximity-Based Switch', 'Recognizes a specific BLE device and uses it to switch a relay on and off when that device is in range. Uses JavaScript, Node, Tessel.', 'http://www.hackster.io/ifoundthemeaningoflife/ble-proximity-switch')
      +project('/images/gauges.jpg', '3D Print Faux Gauge Earrings', 'This was a fun experiment in playing around with high-quality 3D printers, professional AutoCAD, crafting, and costumery. I CADed up some gauge earrings, printed them, then reconstructed to fit regular earholes.', 'http://www.instructables.com/file/FLFOT13H2WEQ2FP')
      +project('/images/infinitydress.jpg', 'Mathematically Fitted Clothing Design: Infinity Dress', "In order to fit the various shapes of people, most clothing patterns come with several \"standard\" sizes, all based on some average shape of human. There's a lot more variety to people than you can get out of some averaged outlines. This pattern is my experiment in designing pattern geometries that are fully defined by measurements of the wearer's body.", 'http://www.instructables.com/file/FPZXGUQH2CE6ZCL')

      h3 See all my work:
      p
        a(href="//github.com/Frijol") Github (Code projects, webapps, and more) 
      p
        a(href="//hackster.io/ifoundthemeaningoflife") Hackster (Tessel projects) 
      p
        a(href="//instructables.com/member/selkeymoonbeam") Instructables (Projects of all shapes and sizes, from recipes to robots and everything in between)
